# .env.example file
# insert your database here username:password@localhost:port/databaseName?schema=type
DATABASE_URL=postgresql://admin:secret@localhost:5432/mydatabase?schema=public
# DATABASE_URL=postgresql://yusuf:123456@localhost:5432/twitter?schema=public
# DATABASE_URL=postgresql://ankit:root@localhost:5432/twitter?schema=public

#API base links
API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=http://localhost:8080

# API_BASE_URL=https://3c2e-2a01-cb00-bab-7200-e525-1724-4ac7-c792.ngrok-free.app
# NEXT_PUBLIC_API_BASE_URL=https://3c2e-2a01-cb00-bab-7200-e525-1724-4ac7-c792.ngrok-free.app
# NEXT_PUBLIC_WS_URL=https://3c2e-2a01-cb00-bab-7200-e525-1724-4ac7-c792.ngrok-free.app

#Java Web Tokens
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

#Cloudinary username
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Redis 配置
# Setup in the main docker environment and local settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=twitter:
REDIS_DEFAULT_TTL=3600
